# Qubes HUD managed file. Owner: salt/qubes_gui/hud.
[Desktop Entry]
Type=Application
Name=HUD Dom0 Logs
Comment=Follow dom0 and Qubes system messages
Exec=/usr/bin/python3 -B /usr/local/libexec/qubes-hud/hud-bindings --view dom0
TryExec=/usr/local/libexec/qubes-hud/hud-bindings
Icon=utilities-system-monitor
Terminal=false
Categories=System;Monitor;
OnlyShowIn=i3;I3;
StartupWMClass=QubesHudDom0Logs
